/*
font-sizes(px)---->
10/12/14/16/18/20/24/30/36/44/52/62/74/86/98
spacing sytem
2/4/8/12/16/24/32/48/64/80/96/128
*/
@media (max-width: 72em) {
  .img-1,
  .img-2,
  .img-3 {
    width: 20rem;
    height: 22rem;
  }
  .hero-grid-2 {
    justify-self: center;
  }
  .header-section,
  .hero-section {
    padding: 0 2rem;
  }
  .hero-2-grid {
    /* display: grid; */
    grid-template-columns: repeat(2, minmax(24rem, 40rem));
    grid-template-rows: repeat(3, minmax(20rem, 22rem));
    /* gap: 2.5rem; */

    /* justify-content: center; */
  }
  .feature-grid {
    /* display: grid; */
    grid-template-columns: repeat(2, minmax(20rem, 42rem));
    grid-template-rows: max-content minmax(16rem, 24rem) minmax(16rem, 24rem) max-content;
    /* justify-content: center; */
    /* gap: 2rem; */
  }
  .feature-grid-3-img {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;
  }
  .feature-grid-3 {
    grid-row: 2/3;
    grid-column: 2/3;
    border: 0.1rem solid rgba(255, 255, 255, 0.315);
    border-radius: 1rem;
    padding: 1.8rem;
  }
  .nav-2-list {
    /* display: flex; */

    justify-content: flex-end;
    /* gap: 5rem; */
    /* height: 100%; */
    /* align-items: center; */
  }
}
@media (max-width: 65.5em) {
  html {
    font-size: 56.65%;
  }
  /* .hero-content-1 h2 {
    font-size: 3.8rem;
  } */
  .img-1,
  .img-2,
  .img-3 {
    width: 18rem;
    height: 20rem;
  }
  .hero-content-1 p {
    font-size: 1.8rem;
  }
  .sports-container ul {
    /* display: flex; */
    /* justify-content: space-between; */
    font-size: 2rem;
    padding: 0.8rem 0.6rem;
  }
}
@media (max-width: 57em) {
  .membership-grid-intro h1 {
    font-size: 2.8rem;
  }
  .hero-grid-2 {
    justify-self: center;
    align-self: stretch;
  }
  .hero-grid {
    /* display: grid; */
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr 1fr;
    /* justify-content: center;
    justify-items: center; */
    /* min-height: 100vh; */
    /* align-items: baseline; */
  }

  .img-1,
  .img-2,
  .img-3 {
    width: 22rem;
    height: 20rem;
  }
  /* .hero-content-1 h2 {
    font-family: "inter";
    font-size: 3.6rem;
    margin-bottom: 1.2rem;
    background: linear-gradient(#fd7e14, #b3ea09, #fd7e14, #12ff54);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } */
  .hero-grid-1 {
    align-self: center;
    padding: 0 3.2rem;
    margin: 0;
  }
  .hero-grid-2 {
    /* grid-column: 1/1; */
    /* background-color: yellow; */
    margin-left: 0;
    /* align-self: stretch; */
  }
  .nav-1-list,
  .nav-2-list {
    display: none;
  }
  .menu {
    display: block;
    max-width: 4.2rem;

    color: #a3d800;
  }
  .svg-menu {
    width: 100%;
    height: 100%;
  }
  .nav-2 {
    justify-self: end;
  }
  .svg-mn {
    color: red;
    width: 100%;
    height: 100%;
  }
  .svg-mnu {
    color: #a3d800;
  }
  .hero-2-grid {
    /* display: grid; */
    /* grid-template-columns: 1fr;
    grid-template-rows: repeat(4, minmax(22rem, 25rem));
    gap: 2.5rem;
    
    justify-content: center; */
    /* grid-template-columns: minmax(28rem, 1fr); */
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    padding: 4.8rem;
    grid-template-rows: repeat(3, minmax(30rem, 32rem));
  }
  .hero-2-img-1 {
    grid-row: 1/3;
    grid-column: 1/2;
  }
  .hero-2-img-2 {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .hero-2-img-3 {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .hero-2-img-4 {
    grid-row: 3/4;
    grid-column: 1/3;
  }
  .hero-2-section {
    border-top-left-radius: 0;
  }
  .membership-grid {
    /* display: grid;
    grid-template-columns: repeat(3, minmax(26rem, 34rem));
    grid-template-rows: max-content max-content;
    justify-content: center;
    gap: 2.2rem;
    min-height: 100vh;
    align-content: center; */
    grid-template-columns: minmax(24rem, 38rem);
  }
  .membership-card ul li {
    line-height: 2.4;
  }
  .feature-grid {
    /* display: grid; */
    /* grid-template-columns: minmax(10rem, 30rem);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; */
    /* grid-template-rows: max-content minmax(20rem, 28rem) minmax(20rem, 28rem) max-content; */
    /* justify-content: center;
    gap: 2rem; */
    padding: 5rem 1rem;
  }
  .feature-grid-1 {
    gap: 1.5rem;
  }
  .feature-grid-1-content {
    padding: 3rem 0;
  }
  .feature-grid-1-img {
    flex-basis: 30rem;
  }
  .feature-grid-3-img div {
    flex-basis: 6rem;
    height: 6rem;
  }
  .feature-grid-4-img div {
    flex-basis: 6rem;
    height: 6rem;
  }
}

@media (max-width: 47.5em) {
  .logo h2 {
    font-size: 2.6rem;
  }
  .footer-grid {
    /* display: grid; */
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem;
  }
  .footer-2 {
    /* display: flex; */
    justify-content: space-evenly;
    gap: 3.2rem;
    margin-bottom: 1rem;
  }
  .footer-1 {
    text-align: center;
  }
  .svg-container {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 46em) {
  .hero-2-grid {
    gap: 1.6rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, minmax(32rem, 34rem));
  }
  .hero-2-img-1 {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .hero-2-img-2 {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .hero-2-img-3 {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .hero-2-img-4 {
    grid-row: 2/3;
    grid-column: 2/3;
  }
}

@media (max-width: 45.625em) {
  video {
    height: 42rem;
  }
  .feature-grid-1 {
    grid-column: 1/2;
    grid-row: 1/2;
    flex-direction: column;
    padding: 0;
  }
  .feature-grid-1-img {
    order: 1;
    flex-basis: 16rem;
  }
  .feature-grid-1-content {
    order: 2;
    padding: 0 0rem 1rem 2.6rem;
  }
  .feature-grid-1-content-1 ul li {
    /* font-size: 1.4rem; */
  }
  .feature-grid-2 div {
    flex-basis: 26rem;
  }
  .feature-grid-2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .feature-grid-3 {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 2rem;
  }
  .feature-grid-4-img {
    margin: 0.5rem;
  }
  .feature-grid-4 {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 2rem;
  }
  .feature-grid-5-img {
    flex-basis: 30rem;
  }
}
@media (max-width: 41.5rem) {
  /* //682px */
  .feature-grid {
    /* display: grid; */
    /* grid-template-columns: minmax(10rem, 30rem);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; */
    /* grid-template-rows: max-content minmax(20rem, 28rem) minmax(20rem, 28rem) max-content; */
    /* justify-content: center;
    gap: 2rem; */
    padding: 0 7rem;
  }
  .feature-grid-1 {
    grid-column: 1/3;
    grid-row: 1/2;
    flex-direction: column;
    padding: 0;
  }
  .feature-grid-1-img {
    order: 1;
    /* min-height: 30rem; */
    /* flex-basis: 20rem; */
  }
  .feature-grid-1-content {
    order: 2;
    padding: 1rem 0 1rem 5rem;

    justify-content: start;
  }
  .feature-grid-2 {
    grid-column: 1/3;
    grid-row: 2/4;
  }
  .feature-grid-3 {
    grid-column: 1/3;
    grid-row: 4/5;
    padding: 2rem;
  }
  .feature-grid-4 {
    grid-column: 1/3;
    grid-row: 5/6;
    padding: 2rem;
  }
  .feature-grid-5 {
    flex-direction: column;
    padding: 0;
  }
  .feature-grid-5-content {
    padding: 1rem;
  }
  .feature-grid-5-1 {
    justify-content: start;
    padding: 1rem 0 1rem 5rem;
  }
  /* .hero-grid-2 {
    padding: 0;
    margin: 0;
    
  } */
  .img-1,
  .img-2,
  .img-3 {
    width: 20rem;
    height: 18rem;
  }
  .hero-content-1 h2 {
    font-size: 3.2rem;
  }
  .hero-content-1-intro {
    margin-top: 2rem;
  }

  .hero-2-grid {
    gap: 2.4rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, minmax(36rem, 40rem));
  }
  .hero-2-img-1 {
    grid-row: 1/2;
    grid-column: 1/3;
  }
  .hero-2-img-2 {
    grid-row: 2/3;
    grid-column: 1/3;
  }
  .hero-2-img-3 {
    grid-row: 3/4;
    grid-column: 1/3;
  }
  .hero-2-img-4 {
    grid-row: 4/5;
    grid-column: 1/3;
  }
  .sports-container > ul > li {
    font-size: 1.6rem;
  }
}

/********mobile viewport***********/
@media (max-width: 35em) {
  /* .membership-grid-intro > h1 {
    font-size: 2.8rem;
  }
  .membership-grid-intro > p {
    font-size: 1.8rem;
  } */

  video {
    height: 32rem;
  }
  /* video {
    height: 30rem;
  } */
  .header-section {
    padding: 0;
  }
  .footer-grid {
    /* display: grid; */
    /* grid-template-columns: repeat(1, 1fr);
    gap: 4rem; */

    padding: 0;
    padding: 0 2rem;
  }
  .footer-btn {
    margin: 0 auto;
  }
  .footer-section > p {
    text-align: center;
  }
  .footer-2 {
    /* display: flex; */
    /* gap: 3.2rem; */
    gap: 0;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer-2-1 {
    justify-self: flex-start;
    padding: 0;
  }
  .footer-2-2 {
  }
}
@media (max-width: 34em) {
  .footer-grid {
    /* background-color: yellow; */
  }

  .footer-2 {
    flex-direction: column;
    text-align: center;
    gap: 3rem;
    /* justify-content: center;
    align-items: center; */
  }
  .footer-2-1 {
    justify-self: stretch;
    padding: 0;
    flex-grow: 1;
  }
  .footer-2-2 {
    justify-self: stretch;
    flex-grow: 1;
  }
}
@media (max-width: 31.8em) {
  .img-1,
  .img-2,
  .img-3 {
    max-width: 16rem;
    height: 20rem;
  }
  .hero-grid-1 {
    align-self: center;
    padding: 0;
    margin: 0;
  }
  .hero-grid-2 {
    justify-self: center;
    align-self: stretch;
  }
  .hero-content-1 h2 {
    font-size: 3rem;
    /* text-align: center; */
  }
  .hero-content-1-intro {
    /* text-align: center; */
  }
  .hero_btn {
    /* margin: 0 auto; */
  }
  .hero-content-1-intro p {
    line-height: 1.7;
  }

  .feature-grid-1 {
    gap: 0.5rem;
    padding: 0;
    margin: 0;
  }
  .feature-grid {
    /* display: grid; */

    grid-template-columns: repeat(2, minmax(16rem, 30rem));
    grid-template-rows: max-content minmax(16rem, 24rem) minmax(16rem, 24rem) max-content;
    /* justify-content: center; */
    /* gap: 2rem; */
    padding: 0 2rem;
  }
  .feature-grid-1-content {
    padding: 2rem 0 0 2.5rem;
  }
  .membership-grid {
    /* display: grid;
    grid-template-columns: repeat(3, minmax(26rem, 34rem));
    grid-template-rows: max-content max-content;
    justify-content: center;
    gap: 2.2rem;
    min-height: 100vh;
    align-content: center; */
    /* grid-template-columns: minmax(20rem, 26rem); */
    padding: 0 3.2rem;
  }
  .membership-card h3 {
    font-size: 2.8rem;
  }
  .membership-card p {
    font-size: 2.4rem;
  }
  .membership-card ul li {
    font-size: 1.8rem;
  }
  .card-btn a {
    font-size: 2.4rem;
    width: 100%;

    height: 100%;
  }
}

@media (max-width: 20em) {
  html {
    font-size: 51%;
  }
  .feature-grid {
    padding: 3.5rem;
  }
  .img-1,
  .img-2,
  .img-3 {
    max-width: 14rem;
    height: 18rem;
  }
}
